body {
  text-align:center;
  font-family: "Helvetica", sans-serif;
  color: #fff;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: #fff;
}

a {
  font-size: 18px;
  color: #fff;
}

#bg-image {
  background: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png")
}
